.loader {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width:100%;
  animation: hideLoader 2s forwards;
  justify-content: center;
  /* 2 secondes d'animation */
  img {
    animation: bigger 2s;
    object-fit: cover;
    width:50%
  }
}