@charset "UTF-8";
header {
  display: flex;
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: inherits;
}
header .logo {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  align-items: center;
}
header .logo i {
  font-size: 25px;
  margin-left: 1rem;
  color: grey;
}
header .logo .img-container {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
header .logo .img-container img {
  height: 100%;
  position: absolute;
}
header .location-bar {
  display: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #EAEAEA;
  width: 100%;
  box-shadow: 0 4px 4px 0 lightgrey;
}

:root {
  --main-bg: #F6F6F6;
  --purple: #9356DC;
  --green: #008766;
  --lightblue: #99E2D0;
  --blue:#003A68;
}

footer {
  background-color: #353535;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 150px;
  width: 100%;
  padding: 1rem 0 1rem 0;
  color: white;
}
footer .text-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
footer .logo {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
footer .suggest-restaurant {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: white;
  font-weight: 600;
  margin: 4px;
}
footer .partnership {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: white;
  margin: 4px;
}
footer .partnership p {
  font-weight: 600;
}
footer .legals-contact {
  color: white;
}
footer .legals-contact p {
  color: white;
  margin: 4px;
}
footer .legals-contact a {
  color: white;
  text-decoration: none;
}

@keyframes scrolling {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes reversescrolling {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes hideLoader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
/* Afficher le contenu après 1 seconde */
body::after {
  content: "";
  display: none;
}

@keyframes showContent {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes appear {
  to {
    opacity: 1;
  }
}
@keyframes bigger {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0.8);
  }
}
@media (min-width: 768px) {
  footer {
    justify-content: flex-end;
    align-items: end;
  }
  footer .text-container {
    flex-direction: row-reverse;
    gap: 4rem;
  }
  footer .text-container .legals-contact {
    display: flex;
    gap: 1rem;
  }
  footer .text-container .suggest-partnership {
    display: flex;
    gap: 1rem;
  }
}
.loader {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  animation: hideLoader 2s forwards;
  justify-content: center;
  align-items: center;
  /* 2 secondes d'animation */
}
.loader img {
  animation: bigger 2s;
  object-fit: cover;
  width: 50%;
}

:root {
  font-family: "Roboto";
  font-weight: 400;
  background-color: var(--main-bg);
}
:root h1 {
  font-size: 20px;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  animation: hideLoader 2s forwards;
  flex-direction: column;
  /* 2 secondes d'animation */
}
.loader img {
  animation: bigger 2s;
}

.content {
  animation: showContent 2s;
  animation-delay: 2s;
  /* Délai de 2 secondes */
  width: 100vw;
  overflow: hidden;
  opacity: 0;
  /* Commence par être invisible */
  animation-fill-mode: forwards;
  /* Rester visible après l'animation */
}

.logo i {
  display: none;
}

main .description-website {
  height: 200px;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 1rem 0 1rem 0;
}
main .description-website .description-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
main .description-website .description-text-container h1 {
  font-weight: 500;
  font-size: 20px;
  max-width: 55vw;
}
main .description-website .description-text-container p {
  max-width: 75vw;
  font-weight: 100;
}
main .description-website a {
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 20px;
  padding: 0.9rem;
  font-size: small;
  box-shadow: 0 5px 5px 0 lightgrey;
  text-decoration: none;
}
main .description-website a:hover {
  filter: brightness(1.1);
  transition-duration: 0.5s;
}
main .functioning {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  background-color: white;
}
main .functioning h1 {
  font-weight: bold;
  margin: 1.5rem;
}
main .functioning .functioning-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
main .functioning .functioning-step i {
  color: #7e7e7e;
}
main .functioning .functioning-step .fa-store {
  color: var(--purple);
}
main .functioning .functioning-step div {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--main-bg-color);
  border-radius: 25px;
  width: 90%;
  height: 40px;
  gap: 10px;
  box-shadow: 0 4px 15px 0 lightgrey;
}
main .functioning .functioning-step div .step {
  margin-left: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
main .functioning .functioning-step div .step p {
  color: white;
}
main .restaurants {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
main .restaurants h1 {
  margin-top: 2rem;
  width: 100%;
  font-weight: bold;
  margin-left: 1rem;
}
main .restaurants a {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 1rem;
}
main .restaurants .restaurant-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  width: 340px;
  overflow: hidden;
  height: 250px;
}
main .restaurants .img-container {
  height: 75%;
  overflow: hidden;
  position: relative;
}
main .restaurants .img-container p {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--lightblue);
  color: var(--green);
  border: solid var(--lightblue) 5px;
  border-radius: 3px;
}
main .restaurants .img-container img {
  width: 100%;
}
main .restaurants .restaurant-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 0.5rem;
}
main .restaurants .restaurant-description .restaurant-text {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
main .restaurants .restaurant-description .restaurant-text h3 {
  font-weight: bold;
}
main .restaurants .restaurant-description i {
  cursor: pointer;
}
main .restaurants .restaurant-description input[type=checkbox] {
  display: none;
}
main .restaurants .restaurant-description input[type=checkbox] + label .far {
  display: inline;
}
main .restaurants .restaurant-description input[type=checkbox]:checked + label .far {
  display: none;
}
main .restaurants .restaurant-description input[type=checkbox]:checked + label .fas {
  display: inline;
  color: #9356dc;
}
main .restaurants .restaurant-description .fas {
  display: none;
}

@media (min-width: 768px) {
  body {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  body header {
    width: 100%;
  }
  body main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body main .description-website {
    width: 100%;
  }
  body main .functioning {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 150px;
  }
  body main .functioning h1 {
    width: 65vw;
  }
  body main .functioning .functioning-step {
    display: flex;
    flex-direction: row;
  }
  body main .functioning .functioning-step div {
    width: 22vw;
    height: 50px;
  }
  body main .restaurants {
    width: 75%;
  }
  body main .restaurants .restaurant-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
  body main .restaurants .restaurant-card {
    width: 36vw;
  }
}

/*# sourceMappingURL=style.css.map */
